In [1]:
li=[1, 2, 3, 'Truong', True, None,]

In [2]:
li

[1, 2, 3, 'Truong', True, None]

In [3]:
dir(li)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [6]:
[method for method in dir(li) if not method.startswith('__')]

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [8]:
li.count(3)

1

In [9]:
li.append(3)

In [10]:
li

[1, 2, 3, 'Truong', True, None, 3]

In [11]:
li.count(3)

2

In [18]:
li.extend({1:'nam', 2:5})

In [19]:
li

[1, 2, 3, 'Truong', True, None, 3, 'nam', 10, ['nam', 10], 1, 2]

In [14]:
li.append(['nam', 10])

In [15]:
li

[1, 2, 3, 'Truong', True, None, 3, 'nam', 10, ['nam', 10]]

In [17]:
li.index(3, 3)

6

In [20]:
li.insert(3, "van")

In [21]:
li

[1, 2, 3, 'van', 'Truong', True, None, 3, 'nam', 10, ['nam', 10], 1, 2]

In [22]:
li.pop()

2

In [23]:
li

[1, 2, 3, 'van', 'Truong', True, None, 3, 'nam', 10, ['nam', 10], 1]

In [24]:
li.remove(3)

In [25]:
li

[1, 2, 'van', 'Truong', True, None, 3, 'nam', 10, ['nam', 10], 1]

In [26]:
li.reverse()

In [27]:
li

[1, ['nam', 10], 10, 'nam', 3, None, True, 'Truong', 'van', 2, 1]

In [28]:
li

[1, ['nam', 10], 10, 'nam', 3, None, True, 'Truong', 'van', 2, 1]

In [33]:
def a(i):
    return len(str(i))

In [34]:
li.sort(key=a)

In [35]:
li

[1, 3, 2, 1, 10, 'nam', 'van', None, True, 'Truong', ['nam', 10]]

In [37]:
tup_1 = (1,2,3,4)
tup_2 = tuple((5,6,7,8))

In [38]:
[method for method in dir(tup_1) if not method.startswith('__')]

['count', 'index']

In [39]:
set_1 = {1,2,4,"ok", False, "nam"}
set_2 = {2,5,"ok", True, "mail"}

In [42]:
set_1.discard(4)

In [43]:
set_1

{1, 2, False, 'nam', 'ok'}

In [44]:
set_1.intersection(set_2)

{2, True, 'ok'}

In [45]:
inter = set_1.intersection(set_2)

In [46]:
inter

{2, True, 'ok'}

In [48]:
dir(set_1)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [49]:
set_1, set_2

({1, 2, False, 'nam', 'ok'}, {2, 5, True, 'mail', 'ok'})

In [50]:
set_1.isdisjoint(set_2)

False

In [51]:
set_1.issubset(set_2)

False

In [52]:
set_1.issuperset(set_2)

False

In [54]:
set_1

{1, 2, 'nam', 'ok'}

In [56]:
set_1.pop()

1

In [57]:
set_1

{2, 'nam', 'ok'}

In [59]:
set_1.remove('ok')

In [63]:
set_1, set_2

({2, 'nam'}, {2, 5, True, 'mail', 'ok'})

In [61]:
set_1.symmetric_difference(set_2)

{5, True, 'mail', 'nam', 'ok'}