## 1. Data structures

- List: [], list()
- Tuple: (), tuple()
- Set: {}, set()
- Dictionary: {key: value}, dict()
- Mutable and immutable

![]()

In [1]:
4!= 3

True

In [2]:
3 == 3

True

In [3]:
a = 1

In [4]:
id(a)

140431477315888

In [5]:
a = 2

In [7]:
id(a)

140431477315920

### 1.1. List
- [], list()
- Có thể lưu trữ được nhiều kiểu dữ kiệu khác nhau
- Indexing, có thứ tự của các phần tử

In [16]:
li = [1, 2, 3, 'Truong', False, True, None, 1 + 2j]

In [10]:
[method for method in dir(li) if not method.startswith('__')]

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [12]:
li.append('Nguyen')
li

[1, 2, 3, 'Truong', False, True, None, (1+2j), 'Nguyen']

In [13]:
li.clear()
li

[]

In [17]:
li

[1, 2, 3, 'Truong', False, True, None, (1+2j)]

In [18]:
li[3]

'Truong'

In [20]:
li[6]

In [21]:
li[-1]

(1+2j)

In [23]:
li[-3]

True

In [25]:
li[3:6] # [3, 6)

['Truong', False, True]

In [26]:
li

[1, 2, 3, 'Truong', False, True, None, (1+2j)]

In [28]:
li[::2]

[1, 3, False, None]

In [34]:
li[::-1]

[[9, 10, 11], (1+2j), None, True, False, 'Truong', 3, 2, 1]

In [30]:
li.append([9, 10, 11])
li

[1, 2, 3, 'Truong', False, True, None, (1+2j), [9, 10, 11]]

In [32]:
li[-1][1]

10

In [35]:
li

[1, 2, 3, 'Truong', False, True, None, (1+2j), [9, 10, 11]]

In [36]:
li[3] = 'Nguyen'
li

[1, 2, 3, 'Nguyen', False, True, None, (1+2j), [9, 10, 11]]

In [37]:
print(id(li))
li[3] = 'TRuong'
id(li)

140431565424896

140431565424896

- pop vs remove
- extend vs append

In [38]:
li_2 = [1, 2, 3, 4]

In [39]:
li_2 = [[1, 2, 3, 4], ['Truong', 'Nguyen', 'Thu', 'An']]

In [40]:
li_2[0]

[1, 2, 3, 4]

In [42]:
li_3 = li_2[1]
li_3

['Truong', 'Nguyen', 'Thu', 'An']

In [43]:
li_3.pop([1, 2])

TypeError: 'list' object cannot be interpreted as an integer

In [44]:
for index in [1, 2]:
    li_3.pop(index)

li_3

['Truong', 'Thu']

In [45]:
li = [1, 2, 3, 4]

In [46]:
li.append([5, 6, 6])
li

[1, 2, 3, 4, [5, 6, 6]]

In [47]:
li[-1]

[5, 6, 6]

In [48]:
li.extend([9, 10, 11])
li

[1, 2, 3, 4, [5, 6, 6], 9, 10, 11]

In [49]:
li + [12, 3, 54]

[1, 2, 3, 4, [5, 6, 6], 9, 10, 11, 12, 3, 54]

In [50]:
li

[1, 2, 3, 4, [5, 6, 6], 9, 10, 11]

In [51]:
li.pop()
li

[1, 2, 3, 4, [5, 6, 6], 9, 10]

In [52]:
li.pop(4)
li

[1, 2, 3, 4, 9, 10]

In [54]:
li.remove(3)
li

[1, 2, 9, 10]

In [55]:
li = [55, 60, 70, 3, 4, 2]
li.sort()

In [57]:
li.sort(reverse=True)
li

[70, 60, 55, 4, 3, 2]

In [58]:
li = ['Truong', 'Nguyen', True, None, False, (3+4j)]
li.sort()

TypeError: '<' not supported between instances of 'bool' and 'str'

In [59]:
def rules(e):
    return len(str(e))

In [64]:
li.sort(key=rules, reverse=True)
li

['Truong', 'Nguyen', (3+4j), False, True, None]

### 1.2. Tuple
- Immutable --> Không thể thay đổi giá trị được 
- Indexing --> Giống list
- (), tuple()

In [65]:
tup_1 = (1, 2, 3, 4)
tup_2 = tuple((5, 6, 7, 8))

In [66]:
tup_1

(1, 2, 3, 4)

In [67]:
tup_2

(5, 6, 7, 8)

In [69]:
tup_1[0] = 3

TypeError: 'tuple' object does not support item assignment

In [70]:
[method for method in dir(tup_1) if not method.startswith('__')]

['count', 'index']

In [71]:
tup_1

(1, 2, 3, 4)

In [72]:
tup_1.count(3)

1

In [73]:
tup_3 = (3, 3, 4, 4, 4, 5, 6)

In [74]:
tup_3.count(4)

3

In [78]:
tup_3.index(4, 3)

3

In [79]:
tup_3

(3, 3, 4, 4, 4, 5, 6)

In [80]:
a, *c , b = tup_3

In [81]:
a

3

In [82]:
b

6

In [83]:
c

[3, 4, 4, 4, 5]

In [84]:
a = []
a

[]

In [85]:
li

['Truong', 'Nguyen', (3+4j), False, True, None]

In [86]:
for item in li:
    print(item * 3)

TruongTruongTruong
NguyenNguyenNguyen
(9+12j)
0
3

TypeError: unsupported operand type(s) for *: 'NoneType' and 'int'

### 1.2 Set
- Không có phần tử trùng lặp
- Non-indexing
- Unordered 
- {a, b, c}, set()

In [89]:
set_1 = {3, 4, 4, 5, 55, 55, 'Truong', True, False}
set_1

{3, 4, 5, 55, False, True, 'Truong'}

In [90]:
for item in set_1:
    print(item)

False
True
3
4
5
55
Truong

In [91]:
set_1[0]

TypeError: 'set' object is not subscriptable

In [92]:
[method for method in dir(set) if not method.startswith('__')]

['add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

![](https://i.pinimg.com/originals/92/74/49/927449ed2c05f7cabe41d12d0db4c0ac.png)

In [95]:
set_1

{3, 4, 5, 55, False, True, 'Truong'}

In [96]:
set_2 = {4, 5, False, 'Nhu', 10, None}

In [97]:
set_1, set_2

({3, 4, 5, 55, False, True, 'Truong'}, {10, 4, 5, False, 'Nhu', None})

In [100]:
set_3 = set_1.difference(set_2)

In [101]:
set_3

{3, 55, True, 'Truong'}

In [102]:
set_1, set_2

({3, 4, 5, 55, False, True, 'Truong'}, {10, 4, 5, False, 'Nhu', None})

In [103]:
set_4 = set_1.difference_update(set_2)

In [104]:
set_4

In [105]:
set_1

{3, 55, True, 'Truong'}

In [106]:
set_5 = {Truong, Trung, 3, 4}
set_5

NameError: name 'Truong' is not defined

In [107]:
Truong = 3

In [109]:
Truong

3

In [110]:
set_1

{3, 55, True, 'Truong'}

In [111]:
id(set_1)

140431577674464

In [112]:
se = set_1.copy()
print(se)
id(se)

{True, 3, 'Truong', 55}

140431569765536

### 1.4 Dictionary
- {key: values}, no duplicated key
- dict()

In [1]:
dict_1 = {'name': ['Truong', 'Nguyen', 'Thu'],
          'age': [22, 23, 24],
          'hometown': ['BT', 'HCM'],
          'university': ['BK', 'SG', 'SPKT']}
dict_1

{'name': ['Truong', 'Nguyen', 'Thu'],
 'age': [22, 23, 24],
 'hometown': ['BT', 'HCM'],
 'university': ['BK', 'SG', 'SPKT']}

In [4]:
dict_1['name']

['Truong', 'Nguyen', 'Thu']

In [5]:
dict_1['name'] = ['Nam', 'Hoai', 'Hau']
dict_1

{'name': ['Nam', 'Hoai', 'Hau'],
 'age': [22, 23, 24],
 'hometown': ['BT', 'HCM'],
 'university': ['BK', 'SG', 'SPKT']}

In [6]:
dict_1.update({'mark': [10, 9, 8]})
dict_1

{'name': ['Nam', 'Hoai', 'Hau'],
 'age': [22, 23, 24],
 'hometown': ['BT', 'HCM'],
 'university': ['BK', 'SG', 'SPKT'],
 'mark': [10, 9, 8]}

In [7]:
dict_1.update({'mark': [9, 10]})
dict_1

{'name': ['Nam', 'Hoai', 'Hau'],
 'age': [22, 23, 24],
 'hometown': ['BT', 'HCM'],
 'university': ['BK', 'SG', 'SPKT'],
 'mark': [9, 10]}

In [8]:
dict_2 = {'name': 'Truong', 'name':['Hoai', 'Name']}
dict_2

{'name': ['Hoai', 'Name']}

In [9]:
dict_1['name'] = ['Name', 'Hung', 'Hau']
dict_1

{'name': ['Name', 'Hung', 'Hau'],
 'age': [22, 23, 24],
 'hometown': ['BT', 'HCM'],
 'university': ['BK', 'SG', 'SPKT'],
 'mark': [9, 10]}

In [10]:
dict_3 = {'name': {'age': [2, 3, 4]}}
dict_3

{'name': {'age': [2, 3, 4]}}

In [11]:
dict_1

{'name': ['Name', 'Hung', 'Hau'],
 'age': [22, 23, 24],
 'hometown': ['BT', 'HCM'],
 'university': ['BK', 'SG', 'SPKT'],
 'mark': [9, 10]}

In [12]:
dict_1['name'][1] = 'Truong'
dict_1

{'name': ['Name', 'Truong', 'Hau'],
 'age': [22, 23, 24],
 'hometown': ['BT', 'HCM'],
 'university': ['BK', 'SG', 'SPKT'],
 'mark': [9, 10]}

In [13]:
[method for method in dir(dict) if not method.startswith('__')]

['clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [14]:
dict.fromkeys(['name', 'age', 'mark'])

{'name': None, 'age': None, 'mark': None}

In [15]:
dict_1

{'name': ['Name', 'Truong', 'Hau'],
 'age': [22, 23, 24],
 'hometown': ['BT', 'HCM'],
 'university': ['BK', 'SG', 'SPKT'],
 'mark': [9, 10]}

In [16]:
dict_1['name']

['Name', 'Truong', 'Hau']

In [17]:
dict_1.get('name')

['Name', 'Truong', 'Hau']

In [ ]:
# setdefault vs get
# pop vs popitem
# keys, items vs values

In [18]:
dict_1

{'name': ['Name', 'Truong', 'Hau'],
 'age': [22, 23, 24],
 'hometown': ['BT', 'HCM'],
 'university': ['BK', 'SG', 'SPKT'],
 'mark': [9, 10]}

In [23]:
dict_1.get('mark', 'DS')

[9, 10]

In [24]:
dict_1

{'name': ['Name', 'Truong', 'Hau'],
 'age': [22, 23, 24],
 'hometown': ['BT', 'HCM'],
 'university': ['BK', 'SG', 'SPKT'],
 'mark': [9, 10]}

In [25]:
dict_1.setdefault('major', ['DS', 'DA', 'BA'])
dict_1

{'name': ['Name', 'Truong', 'Hau'],
 'age': [22, 23, 24],
 'hometown': ['BT', 'HCM'],
 'university': ['BK', 'SG', 'SPKT'],
 'mark': [9, 10],
 'major': ['DS', 'DA', 'BA']}

In [26]:
dict_1.pop('name')
dict_1

{'age': [22, 23, 24],
 'hometown': ['BT', 'HCM'],
 'university': ['BK', 'SG', 'SPKT'],
 'mark': [9, 10],
 'major': ['DS', 'DA', 'BA']}

In [27]:
dict_1.popitem()
dict_1

{'age': [22, 23, 24],
 'hometown': ['BT', 'HCM'],
 'university': ['BK', 'SG', 'SPKT'],
 'mark': [9, 10]}

In [30]:
dict_1.keys()

dict_keys(['age', 'hometown', 'university', 'mark'])

In [31]:
for key in dict_1.keys():
    print(dict_1[key])

[22, 23, 24]
['BT', 'HCM']
['BK', 'SG', 'SPKT']
[9, 10]

In [32]:
dict_1.items()

dict_items([('age', [22, 23, 24]), ('hometown', ['BT', 'HCM']), ('university', ['BK', 'SG', 'SPKT']), ('mark', [9, 10])])

In [35]:
for key, values in dict_1.items():
    print(f'Key: {key} - Values: {values}')

Key: age - Values: [22, 23, 24]
Key: hometown - Values: ['BT', 'HCM']
Key: university - Values: ['BK', 'SG', 'SPKT']
Key: mark - Values: [9, 10]

In [36]:
dict_1.values()

dict_values([[22, 23, 24], ['BT', 'HCM'], ['BK', 'SG', 'SPKT'], [9, 10]])

In [37]:
for i in dict_1:
    print(i)

age
hometown
university
mark

**Data type**:
- Nummeric: int, float, complex
- String: str, "", ''
- Boolean: True/ False
- Nontype: None

**Data structures**:

- List: [], list() - index
- Tuple: (), tuple() - like list except immutable
- Set: {}, set(): non-index, no duplicated
- Dictionary: {key:value}: no duplicated key

**Operations**:

- =: assigment
- ==: equal comparision
- !=: not equal comparision
- % : modulus
- // : floor division
- ```>, <, <=, >=```

### 2. Control flow/ Program flow
- Sequence, Synchronize: from top --> bottom
- Loop: for , while
- Condition: if else

#### 2.1 Synchronize

In [38]:
a = 1
b = 2
c = a / b
print(f'a = {a} divivded by b = {b}: {c}')

a = 1 divivded by b = 2: 0.5

In [50]:
name = 'Truong'
f"hello {name} and {'Nam'}"

'hello Truong and Nam'

In [51]:
'hello {} and {}'.format(name, 'Nam')

'hello Truong and Nam'

In [45]:
b = 1000
'hello %.2f' % (b)

'hello 1000.00'

In [47]:
print('hello ', name)

hello  Truong

#### 2.2. Loop

##### 2.2.1. For loop

- Item loop

```
for item in li:
    logic
```

- Index loop:

```
for index in range(start, stop[exclusive], step):
    logic
```

In [52]:
li = ['Truong', True, False, 1, 2, 55]
for item in li:
    print(item)

Truong
True
False
1
2
55

In [59]:
len(li)

6

In [60]:
for index in range(len(li)):
    print(li[index])

Truong
True
False
1
2
55

In [61]:
li = [1, 2, 3, 4, 5, 6]
new_li = []
for i in li:
    new_li.append(i*2)
new_li

[2, 4, 6, 8, 10, 12]

In [62]:
li = [1, 2, 3, 4, 5, 6]
new_li = []
for i in range(len(li)):
    new_li.append(li[i]*2)
new_li

[2, 4, 6, 8, 10, 12]

##### 2.2.2. While loop
- While: dont know number of times
- For: know number of times

```
while boolean_condition:
    logic
```

In [63]:
a = 2
while a < 100:
    print('A < 100')
    a += 10

A < 100
A < 100
A < 100
A < 100
A < 100
A < 100
A < 100
A < 100
A < 100
A < 100

### 2.3 Condition
- Only run on one condition

```
if boolean_condition: - must have
    logic
elif boolean_condition: optional
    logic
elif boolean_condition: optional
    logic
    ...
else:  - optional
    logic

```

In [69]:
a, b = 5, 5
if a < b:
    print(f'{a} less than {b}!')
elif a > b:
    print(f'{a} greater than {b}')
else:
    print(f'{a} equal to {b}')

5 equal to 5

In [70]:
li = list(range(1, 11))
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [73]:
odd_li, even_li = [], []
for item in li:
    if item % 2 != 0:
        odd_li.append(item)
    else:
        even_li.append(item)
        
print('Odd numbers: ', odd_li)
print('Even numbers: ', even_li)

Odd numbers:  [1, 3, 5, 7, 9]
Even numbers:  [2, 4, 6, 8, 10]

In [75]:
# Tim so lon nhat trong mot list cho truoc
li = [33, 44, 56, -2, 0, -76, 99]

99

In [78]:
li = [-33, -44, -56, -2, 0, -76, -99]
maxnumber = li[0]
for item in li[1:]:
    if maxnumber < item :
        maxnumber = item
        
print(f'So lon nhat la: {maxnumber}')

So lon nhat la: 0

In [79]:
li = [-10999999999, -11999999999, -12999999999]
max_li = -9999999999
for i in li:
    if max_li<i: max_li=i
max_li

-9999999999

In [80]:
print('Hello world')

Hello world

In [81]:
max([1, 2, 3,-5])

3

### 3. Function
- Reusable

```
def function_name(argument_1, argument_2, ... - optional):
    logic
    return answer - optional
```

In [82]:
li = [1, 2, 3]
new_li = li.append(4)

In [84]:
type(new_li)

NoneType

In [85]:
def maximum(li):
    maxnumber = li[0]
    for item in li[1:]:
        if maxnumber < item :
            maxnumber = item
    return maxnumber

In [88]:
maximum([-99, 0, -100, -100, 1, 56, 56])

56

**lambda input : ouput**

In [90]:
rectangle_area = lambda x, y : x*y

In [91]:
rectangle_area(5, 20)

100

In [ ]:
# Viet ham sum cua list cho san
# Len()
# Average cua list cho san

In [92]:
def avgn(a):
    total = 0
    count = 0
    for i in a:
        total += i
        count += 1
    return total, count, total/count

In [97]:
sum_all, count, avg = avgn([1, 2, 3, 4, 5, 6])

In [98]:
sum_all

21

In [99]:
count

6

In [100]:
avg

3.5

### 4. Comprehension

In [103]:
li = list(range(11))
[item for item in li if item % 2 ==0 ]

[0, 2, 4, 6, 8, 10]

In [106]:
li = [-1, 2, 3, -4, 6, 8, -10]
absolute = [item if item > 0 else -item for item in li]

In [107]:
absolute

[1, 2, 3, 4, 6, 8, 10]

In [108]:
li = [[1, 2, 3], [4, 5, 6], [7, 8, 9, 10]]
[sub_i for item in li for sub_i in item if sub_i % 2 == 0]

[2, 4, 6, 8, 10]

In [109]:
li = [[1, 2, 3], [4, 5, 6], [7, 8, 9, 10]]
[sub_i if sub_i %2 == 0 else sub_i * 2 for item in li for sub_i in item]

[2, 2, 6, 4, 10, 6, 14, 8, 18, 10]

In [112]:
li = [2, 3, 4, 5]
[item_i * item_j for item_i in li for item_j in li ]

[4, 6, 8, 10, 6, 9, 12, 15, 8, 12, 16, 20, 10, 15, 20, 25]

In [113]:
li = [2, 3, 4, 5]
[li[i] * li[j] for i in range(len(li)) for j in range(i+1, len(li)) ]

[6, 8, 10, 12, 15, 20]