## 1. Data structures

- List: [], list()
- Tuple: (), tuple()
- Set: {}, set()
- Dictionary: {key: value}, dict()
- Mutable and immutable

![]()

In [1]:
4!= 3

True

In [2]:
3 == 3

True

In [3]:
a = 1

In [4]:
id(a)

140431477315888

In [5]:
a = 2

In [7]:
id(a)

140431477315920

### 1.1. List
- [], list()
- Có thể lưu trữ được nhiều kiểu dữ kiệu khác nhau
- Indexing, có thứ tự của các phần tử

In [16]:
li = [1, 2, 3, 'Truong', False, True, None, 1 + 2j]

In [10]:
[method for method in dir(li) if not method.startswith('__')]

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [12]:
li.append('Nguyen')
li

[1, 2, 3, 'Truong', False, True, None, (1+2j), 'Nguyen']

In [13]:
li.clear()
li

[]

In [17]:
li

[1, 2, 3, 'Truong', False, True, None, (1+2j)]

In [18]:
li[3]

'Truong'

In [20]:
li[6]

In [21]:
li[-1]

(1+2j)

In [23]:
li[-3]

True

In [25]:
li[3:6] # [3, 6)

['Truong', False, True]

In [26]:
li

[1, 2, 3, 'Truong', False, True, None, (1+2j)]

In [28]:
li[::2]

[1, 3, False, None]

In [34]:
li[::-1]

[[9, 10, 11], (1+2j), None, True, False, 'Truong', 3, 2, 1]

In [30]:
li.append([9, 10, 11])
li

[1, 2, 3, 'Truong', False, True, None, (1+2j), [9, 10, 11]]

In [32]:
li[-1][1]

10

In [35]:
li

[1, 2, 3, 'Truong', False, True, None, (1+2j), [9, 10, 11]]

In [36]:
li[3] = 'Nguyen'
li

[1, 2, 3, 'Nguyen', False, True, None, (1+2j), [9, 10, 11]]

In [37]:
print(id(li))
li[3] = 'TRuong'
id(li)

140431565424896

140431565424896

- pop vs remove
- extend vs append

In [38]:
li_2 = [1, 2, 3, 4]

In [39]:
li_2 = [[1, 2, 3, 4], ['Truong', 'Nguyen', 'Thu', 'An']]

In [40]:
li_2[0]

[1, 2, 3, 4]

In [42]:
li_3 = li_2[1]
li_3

['Truong', 'Nguyen', 'Thu', 'An']

In [43]:
li_3.pop([1, 2])

TypeError: 'list' object cannot be interpreted as an integer

In [44]:
for index in [1, 2]:
    li_3.pop(index)

li_3

['Truong', 'Thu']

In [45]:
li = [1, 2, 3, 4]

In [46]:
li.append([5, 6, 6])
li

[1, 2, 3, 4, [5, 6, 6]]

In [47]:
li[-1]

[5, 6, 6]

In [48]:
li.extend([9, 10, 11])
li

[1, 2, 3, 4, [5, 6, 6], 9, 10, 11]

In [49]:
li + [12, 3, 54]

[1, 2, 3, 4, [5, 6, 6], 9, 10, 11, 12, 3, 54]

In [50]:
li

[1, 2, 3, 4, [5, 6, 6], 9, 10, 11]

In [51]:
li.pop()
li

[1, 2, 3, 4, [5, 6, 6], 9, 10]

In [52]:
li.pop(4)
li

[1, 2, 3, 4, 9, 10]

In [54]:
li.remove(3)
li

[1, 2, 9, 10]

In [55]:
li = [55, 60, 70, 3, 4, 2]
li.sort()

In [57]:
li.sort(reverse=True)
li

[70, 60, 55, 4, 3, 2]

In [58]:
li = ['Truong', 'Nguyen', True, None, False, (3+4j)]
li.sort()

TypeError: '<' not supported between instances of 'bool' and 'str'

In [59]:
def rules(e):
    return len(str(e))

In [64]:
li.sort(key=rules, reverse=True)
li

['Truong', 'Nguyen', (3+4j), False, True, None]

### 1.2. Tuple
- Immutable --> Không thể thay đổi giá trị được 
- Indexing --> Giống list
- (), tuple()

In [65]:
tup_1 = (1, 2, 3, 4)
tup_2 = tuple((5, 6, 7, 8))

In [66]:
tup_1

(1, 2, 3, 4)

In [67]:
tup_2

(5, 6, 7, 8)

In [69]:
tup_1[0] = 3

TypeError: 'tuple' object does not support item assignment

In [70]:
[method for method in dir(tup_1) if not method.startswith('__')]

['count', 'index']

In [71]:
tup_1

(1, 2, 3, 4)

In [72]:
tup_1.count(3)

1

In [73]:
tup_3 = (3, 3, 4, 4, 4, 5, 6)

In [74]:
tup_3.count(4)

3

In [78]:
tup_3.index(4, 3)

3

In [79]:
tup_3

(3, 3, 4, 4, 4, 5, 6)

In [80]:
a, *c , b = tup_3

In [81]:
a

3

In [82]:
b

6

In [83]:
c

[3, 4, 4, 4, 5]

In [84]:
a = []
a

[]

In [85]:
li

['Truong', 'Nguyen', (3+4j), False, True, None]

In [86]:
for item in li:
    print(item * 3)

TruongTruongTruong
NguyenNguyenNguyen
(9+12j)
0
3

TypeError: unsupported operand type(s) for *: 'NoneType' and 'int'

### 1.2 Set
- Không có phần tử trùng lặp
- Non-indexing
- Unordered 
- {a, b, c}, set()

In [89]:
set_1 = {3, 4, 4, 5, 55, 55, 'Truong', True, False}
set_1

{3, 4, 5, 55, False, True, 'Truong'}

In [90]:
for item in set_1:
    print(item)

False
True
3
4
5
55
Truong

In [91]:
set_1[0]

TypeError: 'set' object is not subscriptable

In [92]:
[method for method in dir(set) if not method.startswith('__')]

['add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

![](https://i.pinimg.com/originals/92/74/49/927449ed2c05f7cabe41d12d0db4c0ac.png)

In [95]:
set_1

{3, 4, 5, 55, False, True, 'Truong'}

In [96]:
set_2 = {4, 5, False, 'Nhu', 10, None}

In [97]:
set_1, set_2

({3, 4, 5, 55, False, True, 'Truong'}, {10, 4, 5, False, 'Nhu', None})

In [100]:
set_3 = set_1.difference(set_2)

In [101]:
set_3

{3, 55, True, 'Truong'}

In [102]:
set_1, set_2

({3, 4, 5, 55, False, True, 'Truong'}, {10, 4, 5, False, 'Nhu', None})

In [103]:
set_4 = set_1.difference_update(set_2)

In [104]:
set_4

In [105]:
set_1

{3, 55, True, 'Truong'}

In [106]:
set_5 = {Truong, Trung, 3, 4}
set_5

NameError: name 'Truong' is not defined

In [107]:
Truong = 3

In [109]:
Truong

3

In [110]:
set_1

{3, 55, True, 'Truong'}

In [111]:
id(set_1)

140431577674464

In [112]:
se = set_1.copy()
print(se)
id(se)

{True, 3, 'Truong', 55}

140431569765536