In [4]:
!pip install mysql-connector-python
!pip install sqlalchemy

Requirement already satisfied: mysql-connector-python in c:\users\huy\anaconda3\envs\huyvu\lib\site-packages (8.0.23)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\huy\anaconda3\envs\huyvu\lib\site-packages (from mysql-connector-python) (3.14.0)
Requirement already satisfied: six>=1.9 in c:\users\huy\anaconda3\envs\huyvu\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)
Collecting sqlalchemy
  Downloading SQLAlchemy-1.3.22-cp37-cp37m-win_amd64.whl (1.2 MB)
Installing collected packages: sqlalchemy
Successfully installed sqlalchemy-1.3.22

In [5]:
import pandas as pd
import mysql.connector
import sqlalchemy as sa

In [6]:
connection = mysql.connector.connect(host='localhost',
                                     user='root',
                                    password='huy.,123',
                                    db='bank')
query = "SELECT * FROM ACCOUNT"

In [7]:
pd.read_sql(query, connection).head(2)

,ACCOUNT_ID,AVAIL_BALANCE,CLOSE_DATE,LAST_ACTIVITY_DATE,OPEN_DATE,PENDING_BALANCE,STATUS,CUST_ID,OPEN_BRANCH_ID,OPEN_EMP_ID,PRODUCT_CD
0,1,1057.75,None,2005-01-04,2000-01-15,1057.75,ACTIVE,1,2,10,CHK
1,2,500.00,None,2004-12-19,2000-01-15,500.00,ACTIVE,1,2,10,SAV

In [10]:
department = "SELECT * FROM DEPARTMENT"
department = pd.read_sql(department, connection)

branch = "SELECT * FROM BRANCH"
branch = pd.read_sql(branch, connection)

employee = "SELECT * FROM EMPLOYEE"
employee = pd.read_sql(employee, connection)

account = "SELECT * FROM ACCOUNT"
account = pd.read_sql(account, connection)

In [ ]:
employee.merge(account, left_on='EMP_ID', how='inner', right_on='OPEN_EMP_ID')\
.merge(branch, how='inner', left_on ='ASSIGNED_BRANCH', right_on='BRANCH_ID')\
.merge(department, how='inner', left_on='DEPT_ID', right_on='DEPT_ID')