In [1]:
import numpy as np
import pandas as pd

### Step 1 [30]: Read file and display the number of rows in the data.

In [2]:
df = pd.read_csv('smokers.csv')

In [6]:
df.head()

   Year State  Value
0  2015    RI    0.2
1  2015    VT    0.3
2  2017    VA    0.3
3  2017    DE    0.4
4  2015    RI    0.4

In [30]:
df.shape[0]

3519

### Step 2 [30]: Find and display the average number of surveys conducted per state.

In [29]:
df['State'].value_counts().mean()

69.0

### Step 3 [30]: Among the surveys in the data-set, display the minimum and maximum smoking rate.

In [31]:
df.query("Value == Value.min()")

   Year State  Value
0  2015    RI    0.2

In [32]:
df.query("Value == Value.max()")

      Year State  Value
3518  2003    SD   62.3

### Step 4 [30]: Find average smoker rate per state and display the states with minimum and maximum average.

In [40]:
df.groupby('State')['Value'].mean().nlargest(1)

State
SD    30.221154
Name: Value, dtype: float64

In [41]:
df.groupby('State')['Value'].mean().nsmallest(1)

State
CA    5.992857
Name: Value, dtype: float64

### Step 5 [40]: Same as Step 4 but display the top 10 states instead of min and max.

In [44]:
df.groupby('State')['Value'].mean().sort_values(ascending=False).head(10)

State
SD    30.221154
MT    25.753947
OH    24.541463
AR    23.433871
AL    22.815714
MO    22.193103
US    21.502542
OK    20.953448
WI    20.590476
MS    20.545455
Name: Value, dtype: float64

### Step 6 [40]: Get state and year from user and display the surveys for that state for that year.

In [45]:
# Year 2017 
# State 'CA'
df.query("Year == 2017 & State == 'CA'")

     Year State  Value
45   2017    CA    1.6
60   2017    CA    1.8
362  2017    CA    4.6
454  2017    CA    5.4
496  2017    CA    5.7
520  2017    CA    5.9
577  2017    CA    6.4

### Step 7 [50]: Get state from user as input (using input()) and display the average smoker rate year by year. By looking at the most recent 2 years, display if the cigarette use is on decline or rise.